<style>
  li{text-align: center; color: white; font-size: 24px; list-style: none;}
</style>
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/help">help</a></li>
  </ul>
</nav>
