<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <style>
      body {width: 80%; margin: auto; background-color: skyblue;}
      h1 {text-align: center; color: white; font-size: 36px; text-transform: uppercase;}
      p {text-align: center; color: white; font-size: 18px;}
    </style>
  </head>
  <body>
    <% include partials/nav.ejs %>
    <h1>Welcome to the most awesome website ever</h1>
    <p>You will never see a website better.</p>
  </body>
</html>
